<nav class="navbar navbar-default navbar-fixed-top">
               <button type="button" id="navbarToggle" class="glyph-pad navbar-toggle collapsed btn-lg" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

                  <span class="fa fa-bars fa-1x" aria-hidden="true" style="color:white"></span>

                  </button>
              <div class="container">
                  <div class="navbar-header">
                      <a href="/" class="navbar-brand">MARVEL FANATICS</a>
                  </div>
                   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-right">
                          <li id="login" class="text-center"><a scrollTo="target" routerLink="/">COMICS</a></li>
                          <li id="signout" class="text-center"><a scrollTo="target" routerLink="/characters">CHARACTERS</a></li>
                      </ul>
                  </div>
              </div>
          </nav>
<header>
          <div class="jumbotron text-center">
              <h1 class="text-center text-capitalize animated zoomIn" id="title">WELCOME TO THE MARVEL UNIVERSE</h1>
              <h4 class="text-center animated zoomIn">Your daily dose of all things Marvel</h4>
              <button class="btn btn-danger animated zoomIn" id="button1" scrollTo="target">Get Started</button>
          </div>


</header>
<router-outlet></router-outlet>
