p#dates1{
  font-family: mySecondFont;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 20px;
}
.comicTitle
{
  font-size: 2em;
  width: 100%;
  margin-bottom: 0;
  font-family: mySecondFont;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

  h1#titleId2
  {
    margin: 80px 0 40px 0;
    font-size: 4em;
    text-decoration: underline;
    font-family: mySecondFont;
  }
@media only screen and (max-width:991px) {
  .fix {
  	//height: 450px;
    }
}
@media only screen and (max-width:767px) {
  .fix {
  	height: auto;
    }
}
