p#dates1{
  font-family: mySecondFont;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 20px;
}
.comicTitle
{
  font-size: 2em;
  width: 100%;
  margin-bottom: 0;
  font-family: mySecondFont;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fix
{
  object-fit: contain;
  width: 100%;
  height: 340px;
}
  h1#titleId2
  {
    margin: 80px 0 40px 0;
    font-size: 4em;
    text-decoration: underline;
    font-family: mySecondFont;
  }
@media only screen and (max-width:991px) {
  .fix
  {
    object-fit: contain;
    width: 100%;
    height: 340px;
  }
}
@media only screen and (max-width:767px) {
  .fix
  {
    object-fit: contain;
    width: 100%;
    height: 280px;
  }
  .comicTitle
  {
    font-size: 1.6em;
  }
}
@media only screen and (max-width:360px) {
  .fix
  {
    object-fit: contain;
    width: 100%;
    height: 200px;
  }
  h1#titleId2
  {
font-size: 3em;
  }
  .comicTitle
  {
    font-size: 1.3em;
  }
}
