/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: mySecondFont;
  src: url('font1.ttf');
}
@font-face
{
    font-family: myFirstFont;
    src: url('font2.ttf');
}
body, html {
    height: 100%;
    font-family: 'mySecondFont';  
}
